<div class="container configView">
    <div ng-show="!state.connected">
        <form class="form-connect" ng-submit="connect()">
            <h1>Connect</h1>
            <label>Hostname:</label>
            <input type="text" ng-model="hostname" class="form-control"/>
            <label>Port:</label>
            <input type="text" ng-model="port" class="form-control"/> 
            <labe>Client Id:</labe>
            <input type="text" ng-model="clientId" class="form-control"/>
            <label>User:</label>
            <input type="text" ng-model="username" class="form-control"/>
            <label>Password:</label>
            <input type="text" ng-model="password" class="form-control"/>
            <label>Prefix:</label>
            <input type="text" ng-model="prefix" class="form-control"/>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Connect</button>
        </form>
    </div>

    <div ng-show="state.connected">
        <form class="form-connect" ng-submit="disconnect()">
        <h1>Disconnect</h1>
        <button type="submit" class="btn btn-lg btn-danger btn-block">Disconnect</button>
        </form>
    </div>
</div>