<div class="col-xs-12">
  <h1>Confusion View</h1>
  <table>
    <tr ng-repeat="classRow in range(0, gridHeight-1)">
      <td ng-repeat="classCol in range(0, gridWidth-1)">
        <div ng-init="confusion = confusionData[classRow * gridWidth + classCol];">
          <h3>Class: {{confusion.id}}</h3>
          <table class="confusionTable">
            <tr ng-repeat="confRow in range(0, gridHeight-1)">
              <td ng-repeat="confCol in range(0, gridWidth-1)" ng-init="index = (confRow * gridWidth + confCol);" ng-style="{ 'background': confusion.colors[index] }">
                {{confusion.percents[index]}}
              </td>
            </tr>
          </table>
          Total: {{confusion.total}}
        </div>
      </td>
    </tr>
  </table>
</div>
